.content {
  background-color: #f1f1f1;
}

.card {
  display: flex;
  border-radius: 8px;
  margin: 8px auto;
}

.card-header {
  flex: 1;
}

.card-titulo {
  width: 60%;
  margin-top: 40px;
}

.card-titulo p{
  font-size: 1.7rem;
  color: #777777; 
}

.card-img {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-top: 12px !important;
  padding: 12px;
}

.img {
  width: 90px;
  height: 90px;
  border-radius: 26px;
}
