page-detalhe {
  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-content ul {
    padding: 0;
  }

  .box-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 6px;
  }

  .box-img img {
    border-radius: 8px;
  }

  .card-content ul li {
    list-style: none;
  }
}
